<table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Documento</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {{#each enrolledStudents}}
            <tr>
                <th scope="row">{{this.identificationNumber}}</th>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td><a href="/deleteStudent/{{this.identificationNumber}}/{{this.courseId}}">Eliminar</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>